@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, i, em, pre, code, form, fieldset, figure, figcaption, legend, input, button, textarea, p, section, blockquote, th, td, table {
	margin: 0; padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal; font-size:100%;
}
ol, ul, li {
	list-style: none;
}
body ul {
	padding-left: 0;
}
html {
	font-size: 62.5%;
}
body {
	background:#fff; color:#555; font-size: 1.4rem; font-family: '微软雅黑', Arial, Verdana, Helvetica, sans-serif; position: relative; transition:all .3s;
}
input, textarea, select, button {
	font:1.4rem Verdana,Helvetica,Arial,sans-serif;
}
table {
	border-collapse:collapse;
}
img {
	border:none;
}
a {
	color:#555; text-decoration:none; display: block;
}
a:hover {
	text-decoration: none;
}
/*阻止移动端点击特效*/
a,button,input{
	-webkit-tap-highlight-color:rgba(255,0,0,0);
}
/*清除android中input的背景 
 *
 *使用时需谨慎，出现的问题有input[type=radio]无背景
 *不只有ios系统背景清除，android系统中背景也被清除
*/
 input[type="text"] {
	border: 0;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
} 
/* *, *:before, *:after {
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box;
} */
fieldset {
	margin-bottom: 0 !important;
}
/* clear */
.row::before, .row::after {
	display: table;
	content: " ";
}
.row::after {
	clear: both;
}
*:focus {
	outline: none;
}
::-webkit-input-placeholder {
	font-size: 1.4rem;
	line-height: 2.0rem;
}
::-moz-placeholder {
	font-size: 1.4rem;
	line-height: 2.0rem;
}
input:-moz-placeholder {
	font-size: 1.4rem;
	line-height: 2.0rem;
}

@media screen and (max-width:320px) {
	html {
		font-size: 56.3%;
	}
}
@media screen and (min-width:361px) {
	html {
		font-size: 68.8%;
	}
}