/* @2016.5.13
 * user
 * 设计版面m-width=640
 *
 * .bh_ 标签（房屋办理进度查询（开始））
 *
 * 索引

	index, 办事指南***业务办理, 办事指南***办事大厅, 办事指南***便民电话, 办事指南***业务办理, 办事指南***业务办理***详情,
	登陆  密码找回, 房屋办理进度查询, 订阅管理, 二手房合同备案查询, 房产百科-2小九漫漫说, 房贷计算器, 房贷计算器-计算结果,
	服务中心, 个人中心, 快速提问, 楼盘动态-列表, 楼盘参数, 楼盘动态-详情, 楼盘详情, 买房不是事儿, 图解房产百科, 用户注册,
	委托找房, 委托结果, 问答详情, 我的订阅, 我的预约详情, 阳光售房, 业务查询, 在线预约, 在线预约协议, 在线预约-预约网点,
	在线预约-填写预约申请,
*/

/*----------- index -----------*/
.head_logo {
	height: 100%;
}
.head_logo img {
	position: absolute;
	left: 0;
	top: 50%;
	max-width: 160px;
	margin-top:-1.6rem;
	width:100%;
}
a.dapp {
	position: absolute;
	top: 50%;
	right: 3rem;
	max-width: 8rem;
	margin-top: -.9rem;
}
a.dapp img {
	width: 100%;
	display: block;
}
.preM {
	background: #F3F3F3;
}
.category {
	margin-top: 2.0rem;
}
.category a {
	width: 25%;
	display: inline-block;
	float: left;
	text-align: center;
	/* font-weight: bold; */
	padding: 0 .4rem;
	font-size: 1.4rem;
}
.category a img {
	display: block;
	margin:0px auto 1rem;
	width: 80%;
	max-width: 8rem;
}
.category a:active img {
	opacity: .8;
}

.th_list_1 {
	background: url(../img/icon/th_list_1.png) no-repeat;
}
.th_list_2 {
	background: url(../img/icon/th_list_2.png) no-repeat;
}
.th_list_3 {
	background: url(../img/icon/th_list_3.png) no-repeat;
}
.th_list_4 {
	background: url(../img/icon/th_list_4.png) no-repeat;
}
.th_list_5 {
	background: url(../img/icon/th_list_5.png) no-repeat;
}
.th_list_6 {
	background: url(../img/icon/th_list_6.png) no-repeat;
}
.th_list_7 {
	background: url(../img/icon/th_list_7.png) no-repeat;
}
.th_list_8 {
	background: url(../img/icon/th_list_8.png) no-repeat;
}
.tb_tit {
	background: url(../img/icon/th_tit.png) no-repeat;
	background-position: left center;
	margin-bottom: 1.6rem;
	position: relative;
}
.tb_tit .th_tit {
	font-size: 1.5rem;
	padding-left: 1.2rem;
	height: 2rem;
	line-height: 2rem;
	font-weight: normal;
}
.tb_tit .th_more {
	color: #999;
	font-size: 1.4rem;
	position: absolute;
	right: 0;
	top: 50%;
}
.tb_tit .th_more_fir {
	top: 0;	
}
.tb_tit .tb_son {
	position: absolute;
	right: 0px;
	top: 0;
	height: 1.88rem;
	line-height: 1.88rem;
	color: #999;
	margin-right: .4rem;
	margin-top: .1rem;
}
.tb_tit .th_cha {
	font-size: 1.3rem;
}
.tb_tit .th_cha i {
	margin-right: .2rem;
}
.tb_box {
	margin-bottom: .6rem;
}
.tb_box>a.th_list {
	float: left;
	width: 50%;
	height: 6.5rem;
	line-height: 6.5rem;
	padding-left: 15%;
	background-position: 7% center;
	border: 1px solid #f3f3f3;
	/* font-weight: bold; */
	overflow: hidden;
	background-size: 2.7rem;
}
.tb_box > a.th_list:focus {
	background-color: #fcfcfc;
}
.tb_box>a.th_list:nth-child(2n) {
	border-right: none;
	border-left: none;
	border-top: none;
}
.tb_box>a.th_list:nth-child(2n - 1) {
	border-left: none;
	border-top: none;
}
.tb_box>a.th_list:nth-child(1), .tb_box>a.th_list:nth-child(2) {
	border-top: 1px solid #f3f3f3;
}
.tb_box section.th_imgtxt {
	padding: 1.2rem 0rem;
	border-bottom: 1px solid #ededed;
	width: 100%;
	max-width: 64rem;
	position: relative;
}
.tb_box section.th_imgtxt:first-child {
	padding-top: 0rem;
}
.tb_box section.th_imgtxt:last-child {
	border: none;
	padding-bottom: 0rem;
}
.tb_box section.th_imgtxt>a {
	display: block;
	max-width: 12rem;
}
.tb_box section.th_imgtxt figure {
	float: left;
	margin-left: 1rem;
}
.tb_box section.th_imgtxt figure figcaption {
	overflow: hidden;
	color: #333;
	font-size: 1.6rem;
	/* font-weight: 700; */
}
.tb_box section.th_imgtxt figure span {
	color: #c91111;
	display: block;
	font-size: 1.4rem;
}
.tb_box section.th_imgtxt figure p {
	padding: 0 .4rem;
	border: 1px solid #ececec;
	display: inline-block;
	overflow: hidden;
	line-height: 1.8rem;
	color: #999;
	position: absolute;
	bottom: 1.2rem;
	font-size: 1.2rem;
}
.tb_box section.th_imgtxt figure p.imgtxt_last {
	bottom: 0;
}

.tb_box section.th_imgtxt img {
	width: 100%;
	max-width: 15rem;
	margin-right: 2%;
	float: left;
}
.tb_box .th_ls {
	position: relative;
	margin: 1rem 0;
	height: 1.6rem;
}
.tb_box .th_ls figcaption {
	height: 100%;
	line-height: 1.6rem;
	position: absolute;
	right: 8rem;
	left: 0;
	color: #333;
	font-size: 1.4rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.tb_box .th_ls span {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	color: #999;
	font-size: 1.1rem;
	line-height: 2.2rem;
}
.th_btn {
	margin-top: 1.6rem;
	width: 100%;
	display: table;
}
.ts_sbtn {
	text-align: center;
	display: table-cell;
}
.ts_sbtn a {
	width: 80%;
	border: 2px solid #1e63b0;
	height: 3rem;
	height: 3.5rem;
	line-height: 2.4;
	margin: 0px auto;
	max-width: 13rem;
}

/*----------- 办事指南***业务办理 -----------*/
.banner {
	text-align: center;
	margin: 0px auto;
}
.banner img {
	width: 100%;
	max-width: 59.6rem;
}
.tab-check {
	padding-left: 0;
}
.tab-check li {
	max-height: 13.4rem;
	width: 33.33%;
	text-align: center;
	float: left;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.tab-check li:nth-child(1), .tab-check li:nth-child(2), .tab-check li:nth-child(3) {
	border-top: 1px solid #ececec;
}
.tab-check li:nth-child(3n+1){
	border-left: 1px solid #ececec;
}
.tab-check li a {
	padding: 2rem 0;
	color: #555;
}
.tab-check li img {
	padding-bottom: .6rem;
	
}
.tab-check li span {
	display: block;
	height: 2rem;
	overflow: hidden;
	font-size: 1.4rem;
}

/*----------- 办事指南***办事大厅 -----------*/
.tab_list {
	border: 1px solid #ececec;
	background: #fafafa;
	padding: .8rem 1rem .6rem;
	margin-bottom: 1rem;
}
.tab_ate {

}
.tab_tlt {
	width: 70%;
	float: left;
	padding-left: 0;
}
.tab_tlt h3 {
	font-size: 1.5rem;
	height: 2.8rem;
	line-height: 2.8rem;
	overflow: hidden;
	margin: 0;	
	font-weight: normal;
}
.tab_tlt p {
	display: inline-block;
	line-height: 2rem;
	background-position: right center;
	background-size: 9px;
	margin: 0;
	color: #999999;
	font-size: 1.4rem;
}
.tab_img {
	width: 30%;
	float: right;
	text-align: right;
}
.tab_img img {
	width: 100%;
	max-width: 15rem;
	margin-top: .5rem;
}
.tab_btn {
	margin: .8rem 0 0;
	padding-top: .6rem;
	padding-left: 0;
	border-top: 1px solid #ededed;
}
.tab_btn li {
	float: left;
	width: 50%;
	text-align: left;
	border-right: 1px solid #ededed;
}
.tab_btn li:last-child {
	border-right: none;
}
.tab_btn li a {
	padding: .2rem .3rem;
	background-position: 15% center;
	color: #555;
	font-size: 1.4rem;
	margin-right: .4rem;
}
.tab_btn li a img {
	width: 1.4rem;
	margin-right: .5em;
}
.tab_btn li a em {
	vertical-align: middle;
	font-style: normal;
}

/*----------- 办事指南***便民电话 -----------*/
.t_list_tel {
	padding: .8rem 1.2rem;
}
.t_list_tel h3 {
	line-height: 3rem;
	font-weight: 700;
	border-bottom: 1px solid #ededed;
	margin: 0;
	font-size: 1.6rem;
}
.tab_cont {
	padding: .6rem 0 0;
	margin: 0;
}
.tab_cont li {
	line-height: 1.7;
	font-size: 1.4rem;
}
.tab_cont li a {
	display: inline-block;
	color: #ff6b05;
	margin-left: .2rem;
}

/*----------- 办事指南***业务办理 -----------*/
.tab_wr {
	/* padding: 1rem 0 2rem; */
	border-bottom: 1px solid #ececec;
	margin-bottom: 1rem;
}
.tab_wrf {
	padding-top: 0rem;
} 
.tab_wrl {
	margin-bottom: 0;
}
.tab_wr p {
	color: #999999;
	line-height: 2rem;
	height: 4rem;
	overflow: hidden;
	margin: 0.2rem 0 1rem;
	font-size: 1.4rem;
}
.tab_wr figcaption {
	color: #666666;
	line-height: 2.6rem;
	height: 2.6rem;
	text-shadow : 0 0 0 rgba(0,0,0,.6);
	-webkit-text-shadow : 0 0 0 rgba(0,0,0,.6);
	font-size: 1.4rem;
}
.tab_wr figcaption span {
	color: #7caee9;
	text-shadow : 0 0 0 rgba(0,0,0,.2);
	-webkit-text-shadow : 0 0 0 rgba(0,0,0,.2);
}
.tab_wr_more {
	/* margin-top: 1rem; */
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	border: none;
	background: #fff;
	color: #bababa;
	transition:.3s;
	-webkit-transition:.3s;
	font-size: 1.4rem;
}
/* .tab_wr_more:hover, .tab_wr_more:active {
	background: #F9F9F9;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
} */
.tab_wr_more_margin {
	margin: .5rem 0;
}

/*----------- 办事指南***业务办理***详情 -----------*/
.tab_empl {
	
}
.tab_empl h3{
	font-size: 1.5rem;
	color: #666666;
}
.tab_e_cont {
	border: 1px solid #eee;
	margin: -.1rem 0 0;
}
.tab_e_cont figcaption {
	background: #f5f5f5;
	font-size: 1.4rem;
	position: relative;
}
.tab_e_cont figcaption h4 {
	color: #1e63b0;
	padding: .6rem 0 .6rem 1rem;
	font-size: 1.5rem;
	font-weight: normal;
}
.tab_e_cont figcaption a{
	position: absolute;
	color: #7caee9;
	top: .7rem;
	right: 1rem;
	line-height: 2.0rem;
}
.tab_e_cont figcaption a i {
	margin-right: .2rem;
}
.tab_e_list {
	padding: 0 1.2rem;
	font-size: 1.4rem;
	color: #666;
}
.tab_e_list mark {
	width: 6rem;
	background: none;
	float: left;
}
.tab_e_list p {
	padding-left: 6.4rem;
	margin: 0 0 1.2rem;
}
.tab_e_clist p {
	padding-left: 0rem;
	margin: 0 0 .6rem;
}
.tab_e_list p.tab_e_waring {
	color: #fe6b04;
}

/*----------- 登陆  密码找回 -----------*/
.am-form-psd-input {
	position: relative;
}
.am-form-psd-input input {
	text-security:disc;
    -webkit-text-security:disc;
    -mox-text-security:disc;
}
.am-form-psd-eye {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -6px;
	line-height: 0;
}
i.am-icon-userset-eye {
	background: url(../img/icon/pwd-eye.png) no-repeat;
	width: 18px;
	height: 14px;
	background-size: 18px 25px;
	background-position: 0px 1px;
}
.am-form-psd-input.active input {
	text-security:none;
    -webkit-text-security:none;
    -mox-text-security:none;
}
.am-form-psd-input.active i.am-icon-userset-eye {
	background-position: 0px -13px;
}
.am-checkbox.am-form-checkl {
	color: #999;
	margin: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
div.checkbtn {
	padding: 0;
}
div.checkbtn a {
	display: inline-block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}
.am-u-sm-3.checkbtn a {
	font-size: 1.5rem;
	display: block;
	min-height: 1.92rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	vertical-align: middle;
}
div.checkbtn-c {
	text-align: center;
}
div.checkbtn-r {
	text-align: right;
}
.checkbtn-r a, .checkbtn-r a:hover, .checkbtn-r a:focus {
	color: #ff9d48;
	text-align: right;
}

.txt-waring {
	color: #fe6a06;
	padding: 0px .625rem .6rem;
	font-size: 1.4rem;
}
.txt-sorry {
	padding: 0 .625rem 0;
	color: #999;
	font-size: 1.4rem;
}
.txt-sorry-disable {
	display: none;
}


/*----------- 房屋办理进度查询, 二手房合同备案查询 -----------*/
.bh_bel {
	position: relative;
}
.bh_bel h3 {
	font-size: 1.48rem;
	color: #666666;
	margin-bottom: .8rem;
	font-weight: 700;
}
.bel_cont {
	border: 1px solid #f3f3f3;
	padding: 1.6rem .4rem;
	position: relative;
}
.bel_cont ul {
	margin: 0;
	padding: 0;
	z-index: 2;
	position: relative;
}
.bel_cont ul li {
	padding: 0;
}
.bel_w_line {
	position: absolute;
	top: 4.4rem;
	width: 80%;
	left: 50%;
	margin-left: -40%;
	height: 0;
	border-top: 1px dotted #ccc;
	z-index: 0;
}
.bel_s_line {
	width: 50%;
	height: 0;
	margin-top: -.1rem;
	border-top: 1px dotted #4e8206;
	transition: all .5s;
	-webkit-transition: all .5s;
}
.bel_img {
	margin-bottom: 1rem;
	text-align: center;
}
.bel_img i {
	border-radius: 50%;
	border: 1px solid #000;
	height: 5.5rem;
	width: 5.5rem;
	display: block;
	margin: 0px auto;
	background: #FFF;
	padding: 1rem;
	font-size: 2.4rem;
	line-height: 3.4rem;
}
.bel_lst {
	padding: 0px .4rem;
}
.bel_lst h4 {
	text-align: center;
	font-size: 1.3rem;
	color: #333333;
}
.bel_lst h4 p {
	font-size: 1.2rem;
	font-weight: normal;
	color: #666666;
}
.bel_atlcle {

}
.bel_atlcle p {
	text-align: center;
	margin: 0 auto;
	padding: .4rem;
	font-size: 1.36rem;
	border: 1px dashed #D7D7D7;
	position: relative;
	max-width: 11rem;
}
.bel_atlcle p:before {
    content: '';
    width: 2rem;
    height: 2rem;
    border: 1px dashed #D7D7D7;
    position: absolute;
    transform: rotate(45deg);
    left: 50%;
    top: 0%;
    z-index: 1;
    margin-top: -1rem;
    margin-left: -1rem;
}
.bel_atlcle p:after {
	content: '';
	width: 2.9rem;
	height: 100%;
	position: absolute;
	background: #FFF;
	left: 50%;
	top: 0%;
	z-index: 2;
	margin-left: -1.5rem;
	margin-top: -.1rem;
} 
.bel_atlcle p span {
	display: block;
	position: relative;
	z-index: 3;
	font-size: 1.2rem;
}
/* status off */
.bel_img_off i {
	border: 2px solid #4e8206;
	color: #4e8206;
}
/* status ing */
.bel_img_ing {
	margin-top: -.1rem;
}
.bel_img_ing i {
	border: 2px solid #67ac08;
	color: #67ac08;
/* 	font-size: 3.2rem;
	height: 6.2rem;
	width: 6.2rem;
	line-height: 4rem; */
}
/* status not */
.bel_img_not i {
	border: 2px solid #ccc;
	color: #ccc;
}

.bh_tab {
	margin-top: 1.8rem;
}
.bh_tab h3 {
	font-size: 1.48rem;
	color: #666666;
	margin-bottom: .8rem;
	font-weight: 700;
}
.bel_table {
	font-size: 1.5rem;
	margin-bottom: 1.2rem;
}
.bel_table_btm {
	margin-bottom: 0rem;
}
.bel_tab_h {
	padding: .4rem 1rem;
	color: #333;
	border: 1px solid #F3F3F3;
	font-weight: 700;
	font-size: 1.5rem;
}
.bel_tab_ls_top {
	border-top: 1px solid #f3f3f3;
}
.bel_tab_b {
	line-height: 3.6rem;
	text-align: center;
} 
.bel_tab_b .bel_tab_l {
	background: #ececec;
	border: 1px solid #F3F3F3;
	border-top: none;
	color: #666666;
}
.bel_tab_b .bel_tab_r {
	border-bottom: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
	color: #999999;
}
.bel_tab_b .bel_tab_r_black {
	color: #666;
}
.bel_tab_b .bh_denger {
	color: #ff6a06;
}
.bel_tab_btn {

}
.bel_tab_btn .bel_tab_btn_s:first-child {
	border-left: 1px solid #f3f3f3;
}
.bel_tab_btn .bel_tab_btn_s {
	padding: 0;
	line-height: 3.4rem;
	height: 3.4rem;
	text-align: center;
	border-right: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	color: #999;
}
.bh_form_btn_2 li:first-child {
	padding-right:.4rem;
}
.bh_form_btn_2 li:last-child {
	padding-left:.4rem;
}
.bh_h4_war samp {
	float: left;
	margin-right: .3rem;
}
.bh_h4_war p {
	margin: 0;
	padding-left: 3rem;
}


/*----------- 订阅管理 -----------*/
.bh_library {

}
.bh_title {
	text-align: center;
	line-height: 2;
}
.bh_label {
	margin-top: .6rem !important;
}
.bh_label h4, .bh_label ul li, .bh_label_btn {
	padding: .4rem .3rem;
}
/* .bh_labelw h4 {
	width: 10% !important;
} */
.bh_label h4 {
	font-size: 1.4rem;
	line-height: 2;
	text-align: center;
	padding: .4rem 0;
}
/* .bh_labelw ul {
	width: 90% !important;
} */
.bh_label ul {
	margin: 0;
	padding: 0;
}
.bh_label li {
	float: left !important;
	width: 25%;
	text-align: center;
	font-size: 1.4rem;
	line-height: 2;
}
.bh_label li.am-u-sm-3 {
	width: 25%;
}
.bh_label li.am-u-sm-4 {
	width: 33.33333333%;
}
.bh_label ul li a {
	color: #666;
	border: 1px solid #f3f3f3;
}
.bh_label_btn {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.bh_label .bh_label_active a {
	color: #7caee9;
	border-color: #7caee9;
}
.bh_btn {
	margin-top: 1rem;
}

/*----------- 手机验证 -----------*/
.bh_choose_ls {
	border: 1px solid #eeeeee;
	padding: .6rem;
}
.bh_choose_ls h4 {
	color: #999999;
	font-size: 1.3rem;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-weight: normal;
}
.bh_choose_ls h4 span {
	color: #ff6a06;
	display: inline-block;
	font-size: 1.4rem;
}

.bh_bel .form_input, .am-form .form_input {
	padding: 0;
}
.form_input input {
	height: 100%;
}
.form_input div, .form_input span {
	font-size: 1.4rem;
	line-height: 1.5;
}
.form_input span {
	padding: .5em 0;
}
.am-form-group .form_input_normal {
	padding: 0;
}
.am-form-group .form_input_normal:first-child {
	padding-right: 1rem;	
}
.bh_msg_ls {
	padding: 1.8rem 0 1rem;
}

/*----------- 房产百科-2小九漫漫说 -----------*/
ul.bh_gallery {
	padding-left: 0;
	padding-right: 0;
}
ul.bh_gallery li {
	border-bottom: 1px solid #ededed;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.bh_gallery li:nth-child(2n) {
	padding-right: 0;
	padding-left: .6rem;
}
.bh_gallery li:nth-child(2n+1) {
	padding-left: 0;
	padding-right: .6rem;
}
.bh_gallery .am-gallery-desc {
	float: right;
}

/*----------- 房贷计算器 -----------*/
.bh_btn_size {
	font-size: 1.4rem;
}
.bh_btn_size li.bh_li_top{
	margin-top: 1rem;
	transition: all .3s;
}
.bh_btn_size li>label {
	padding: 7px 0;
	font-weight: normal;
	font-size: 1.5rem;
	width: 20%;
	margin-bottom: 0;
}
.bh_btn_size li>div {
	padding: 0 0 0 1rem;
	width: 80%;
}
.bh_btn_size_ipt {
	position: relative;
}
.bh_btn_size_ipt input {
	padding-right: 4rem;
	border: 1px solid #ccc;
}
.bh_btn_size_ipt span {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -1rem;
	margin-right: .6rem;
}
.bh_btn_size_sel .am-selected {
	width: 100%;
}
.bh_btn_size_sel .am-selected>*>* {
	text-align: center;
}

/*----------- 房贷计算器-计算结果,房贷计算器-组合贷款 -----------*/
.bh_tab_b {
	line-height: 3.6rem;
	text-align: center;
} 
.bh_tab_b div.bh_tab_tit {
	background: #FFF;
	border-top: 1px solid #F3F3F3;
	text-align: right;
	font-size: 1.4rem;
	color: #7caee9;
}
.bh_tab_b .bh_tab_l {
	background: #ececec;
	border: 1px solid #F3F3F3;
	border-top: none;
	color: #666666;
}
.bh_tab_b .bh_tab_r {
	border-bottom: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
	color: #999999;
}
.bh_tab_b .bh_tab_trans {
	color: #ff6c05;
}
.bh_center_chg p {
	font-size: 1.4rem;
	font-weight: normal;
}
.bh_btn_size_long {

}
.bh_btn_size_long li>label {
	width: 30%;
}
.bh_btn_size_long li>div {
	width: 70%;
}

/*----------- 房贷计算器-还款明细 -----------*/
.bh_box {
	border: 1px solid #1e63b0;
	padding: 1rem;
}
.bh_box h3, .bh_box p {
	margin: 0;
	padding: 0 1rem;
	font-size: 1.8rem;
}
.bh_box h3 {
	color: #666;
	line-height: 3.0rem;
}
.bh_box p {
	color: #fe6d04;
	line-height: 3.6rem;
}
.bh_box_money {
	position: relative;
}
.bh_box_money img {
	position: absolute;
	right: 3%;
	top: 50%;
	margin-top: -4rem;
	width: 8rem;
}
.bh_box_money .am-g summary {
	font-size: 1.4rem;

}
.bh_box_money .am-g summary span {
	display: inline-block;
}
.bh_table_w {
	text-align: center;
}
.bh_table_w .bh_table_lst_1 {
	width: 16%;
}
.bh_table_w .bh_table_lst_2 {
	width: 28%;
}
.bh_table_w button {
	background: #FFF;
	padding: .5rem 0;
	border:1px solid #f3f3f3;
	border-top: none;
	color: #ccc;
	font-size: 1.4rem;
	width: 100%;
}
.bh_table_w button:hover {
	color: #999;
}
button.bh_btn_hidden {
	padding: 0;
	height: 0;
	overflow: hidden;
	
}
.bh_table_hd {
	background: #ececec;
}
.bh_table_bd {
	
}
.bh_table_bd .bh_table_lst {
	padding: .2rem;
	color: #999999;
}
.bh_table_lst {
	float: left;
	text-align: center;
	line-height: 3rem;
	border-right: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}
.bh_table_lst:nth-child(4n+1) {
	border-left: 1px solid #f3f3f3;
}
.bh_table_row {
	width: 100%;
}
.bh_table_bd_hidden {
	height: 0;
	overflow: hidden;
	
}

/*----------- 服务中心 -----------*/
.bh_se_center {

}
.bh_se_center a {
	padding: 3rem 0;
}
.bh_se_center a img {
	width: 2.4rem;
	margin-right: .8rem;
}

/*----------- 个人中心 -----------*/
.pc-banner {
	background: #95bfed;
	position: relative;
	padding: 3rem 0;
	border-bottom: 1rem solid #f3f3f3;
}
.pc-banner .pc-center {
	width: 10rem;
	margin: 0 auto;
	text-align: center;
}
.pc-center .pc-head-port {
	width: 7rem;
	height: 7rem;
	overflow: hidden;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #ececec;
	text-align: center;
	padding: 5px 0;
	margin: 0 auto;
}
.pc-center .pc-head-port img {
	width: 5.8rem;
	height: auto;
}
.pc-center .pc-name {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
	font-size: 1.45rem;
	margin-top: .2rem;
}
.pc-banner .pc-setting {
	position: absolute;
	right: 1rem;
	top: .8rem;
}
.pc-banner .pc-setting i {
	font-size: 2.2rem;
	color: #fff;
}
.pc-banner .pc-quit{
	position: absolute;
	right: 1rem;
	bottom: 0;
	font-size: 1.4rem;
	margin: 0;
	padding: .5rem 0;
}
.pc-banner .pc-quit a {
	color: #fff;
}
.pc-set-bd {
	
}
.pc-set-bd li {
	border-bottom: 1px solid #f3f3f3;
}
.pc-set-bd li a {
	line-height: 5rem;
	padding-left: 4rem;
	position: relative;
}
.pc-set-bd i {
	width: 2.2rem;
	height: 2.2rem;
	position: absolute;
	left: 1rem;
	top: 50%;
	margin-top: -1.1rem;
	background-size: 100%;
}
.pc-set-bd .pc-set-bgimg-1 {
	background-image: url(../img/icon/pc_lst_1.png);
}
.pc-set-bd .pc-set-bgimg-2 {
	background-image: url(../img/icon/pc_lst_2.png);
}
.pc-set-bd .pc-set-bgimg-3 {
	background-image: url(../img/icon/pc_lst_3.png);
}
.pc-set-bd .pc-set-bgimg-4 {
	background-image: url(../img/icon/pc_lst_4.png);
}
.pc-set-bd .pc-set-bgimg-5 {
	background-image: url(../img/icon/pc_lst_5.png);
}

/*----------- 快速提问 -----------*/
.bh_ver_bor {
	border: 1px solid #ececec;
	padding: 2rem 2rem 1rem;
}
.bh_ver_bor div.form_input input {
	line-height: 1.18;
}
.bh_quest label {
	font-size: 1.6rem;
	font-weight: normal;
}
section.bh_quest textarea, section.bh_quest .am-form input {
	resize: none;
	border: 1px solid #ececec;
}

/*----------- 楼盘动态-列表 -----------*/
.bh_home_list {

}
.bh_home_list li {
	padding: 0 .8rem;
	margin: .8rem 0;
	font-size: 1.6rem;
}
.bh_home_list li>* {
	padding: 0;
	color: #999;
}
.bh_home_list li p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
}
.bh_home_list li p a {
	color: #999;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.5rem;
}
.bh_home_list li p em {
	font-style: normal;
	color: #333;
}
.bh_home_list li span {
	display: block;
	padding: 0;
	text-align: right;
	line-height: 2;
	font-size: 1.3rem;
}
hr.bh_l_hr {
	width: 95%;
	margin: 0 auto .6rem;
}
hr.bh_smallmargin {
	margin: 1.2rem 0;
}

/*----------- 楼盘参数 -----------*/
.bh_home_config {
	font-size: 1.4rem;
	padding: .6rem 0;
}
.bh_home_config h3 {
	font-size: 1.6rem;
	margin: 0;
}
.bh_home_config article {
	
}
.bh_home_config article.bh_home_arti {
	text-indent: 2rem;
}
.bh_home_config article p {
	margin: .6rem 0;
	color: #999;
}
.bh_home_config article p a {
	display: inline;
}
.bh_home_config article p strong {
	color: #333;
	font-weight: normal;
}
.tel_phone {
	width: 100%;
	text-align: center;
	height: 4rem;
	line-height: 4rem;
}
.tel_phone i {
	font-size: 1.8rem;
	margin-right: .6rem;
	transform: rotate(15deg);
}

/*----------- 楼盘动态-详情 -----------*/
.bh_home_title {
	text-align: center;
	color: #666;
}
.bh_home_title hgroup {
	font-size: 1.6rem;
	font-weight: bold;
	height: 2.5rem;
	overflow: hidden;
}
.bh_home_title p {
	font-size: 1.4rem;
	margin: 0.2rem;
	color: #999;
}
.bh_home_title p span:first-child {
	margin-right: 1rem;

}
.bh_home_article {
	font-size: 1.4rem;
	color: #666;
	text-align: center;
}
.bh_home_article p {
	text-indent: 2em;
	text-align: left;
	font-size: 1.5rem;
	color: #999;
	font-family: '微软雅黑';
}
.bh_home_article img {
	width: 90%;
	max-width: 90%;
}

/*----------- 楼盘详情 -----------*/
.am-comuster-slider li {
	text-align: center;
}
.am-slider.am-comuster-slider .am-slides img {
	/*height: 100%;*/
	width: auto;
	margin: 0 auto;
}
.bh_home_artTit {
	font-size: 1.4rem;
	position: relative;
	color: #999;
}
.bh_home_artTit h4 {
	font-size: 1.6rem;
	margin: 0;
	color: #333;
}
.bh_home_artTit p {
	font-size: 1.4rem;
	margin: 0;
}
.bh_home_artTit .bh_home_impl_set {
	position: absolute;
	right: 0;
	bottom: 0rem;
}
.bh_home_impl_set a {
	padding: 0 6px;
	position: relative;
	display: inline-block;
	color: #999999;
	font-size: 1.4rem;
}
.bh_home_impl_set a:active, .bh_home_impl_set a.active {
	color: #7caee9;
}
.bh_home_impl_set i{
	position: absolute;
	top: -2.2rem;
	left: 50%;
	margin-left: -11px;
	background: url(../img/icon/little-icon.png) no-repeat;
	width: 22px;
	height: 22px;
	background-size: 70px;
}
.bh_home_impl_set .am-icon-stars {
	background-position: 2px 0px;
}
.bh_home_impl_set .am-icon-cdown {
	background-position: -21px -20px;
}
.bh_home_artdet {

}
.bh_home_artdet .bh_home_price {
	font-size: 1.5rem;
	color: #c91111;
	font-weight: 700;
	line-height: 2.0rem;
}
.bh_home_artdet .bh_home_price a {
	font-weight: normal;
	border: 1px solid #ff6c0c;
	display: inline-block;
	padding: 0 .4rem;
	margin-left: 1rem;
	color: #ff6c0c;
	font-size: 1.2rem;
}
.bh_home_artdet ul {
	padding: .6rem 0;
	margin: 0;
	font-size: 1.3rem;
	color: #999;
}
.bh_home_artdet ul span {
	color: #333;
	float: left;
}
.bh_home_artdet ul p {
	margin: 0;
	margin-left: 7rem;
}
.bh_home_artdet ul li a {
	display: inline-block;
}
.bh_home_artdet ul a.am-color-df {
	display: inline-block;
	margin-left: 1rem;
	font-size: 1.3rem;
	color: inherit;
}
.bh_home_artdet ul a.am-color-df i {
	margin-right: .4rem;
}
.bh_home_artdet .bh_home_btn {
	text-align: center;
	font-size: 1.4rem;
	padding: .4rem 0;
	color: #666;
}

.bh_home_tab {
	margin-bottom: 1rem;
}
.bh_home_tab table {
	font-size: 1.4rem;
	text-align: center;
	margin: 0;
}
.bh_home_tab table th {
	text-align: center;
	border-bottom: none;
}
.bh_home_tab td.bh_2td {
	line-height: 4;
}
.bh_home_tab button.tab_wr_more {
	border: 1px solid #ddd;
	border-top: 0;
	background-color: #f9f9f9;
	line-height: 3.0rem;
	height: 3.0rem;
	font-size: 1.4rem;
}
.bh-home-article-bd {
	color: #999;
	margin-bottom: .4rem;
}
.bh-home-article-bd h2 {
	font-size: 1.4rem;
	margin: 0 0 .4rem;
}
.bh-home-article-bd h2 a {
	color: #333;
}
.bh-home-article-bd p {
	font-size: 1.4rem;
	text-indent: 2em;
	margin: 0;
	line-height: 2.4rem;
	max-height: 9.6rem;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 4; /* 这里修改为要显示的行数*/
  	-webkit-box-orient: vertical;
}
.bh_home_ul>ul {
	overflow: hidden;
	padding: 0;
}
.bh_home_ul>div i {
	margin-left: .8rem;
}

ul.bh_home_similar {
	padding: 0 .4rem;
}
.bh_home_similar li {
	margin-bottom: .6rem;
}
.bh_home_similar li:nth-child(2n+1) {
	padding-right: .2rem;
}
.bh_home_similar li:nth-child(2n) {
	padding-left: .2rem;
}
.bh_home_similar li>a {
	padding: 0 .4rem 0 0;
}
.bh_home_similar li>a img {
	width: 100%;
}
.bh_home_similar li>div {
	padding: 0;
	font-size: 1.2rem;
	line-height: 1.4;
	padding-right: .4rem;
}
.bh_home_similar li>div h4 {
	margin: .4rem 0;
}
.bh_home_similar li>div h4 a {
	font-size: 1.4rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #666;
}
.bh_home_similar li>div p {
	margin: 0;
}
.bh_home_similar li>div span {
	float: right;
	font-size: 1.2rem;
	color: #999;
	margin-top: .1rem;
}

/*买房不是事儿*//*图解房产百科*/
.bh_imgshow {
	margin-bottom: 1rem;
}
.bh_imgshow_mn {
	margin-bottom: 0;
}
.bh_imgshow_nol {
	margin-bottom: 0;
}
.bh_imgshow img {
	width: 100%;
}
.txt-waring-c {
	color: #333;
}

/*----------- 用户注册 -----------*/
div.bh-form-agree-center {
	text-align: center;
}
div.bh-form-agree-center label {
	font-size: 1.3rem !important;
	display: inline-block;
}
.bh-form-agree-center a {
	display: inline;
}

/*----------- 委托找房 -----------*/
.bh-form-label-font label {
	font-size: 1.4rem;
	padding-left: .4rem;
	padding-right: .4rem; 
	text-align: right;
	color: #666;
	font-weight: normal;
	padding-top: .7rem;
	margin-bottom: 0;
}
.bh-form-label-font .am-u-sm-3, .bh_library_1 .am-u-sm-3 {
	width: 22%;
}
.bh-form-label-font .am-u-sm-9, .bh_library_1 .am-u-sm-9 {
	width: 78%;
}
.bh-form-label-font>div>div.am-g {
	margin: 0;
}
.bh-form-label-font .am-u-sm-9, .bh-form-label-font .am-u-sm-6 {
	padding-right: .3rem;
	padding-left: .3rem;
}
.bh-form-label-font div.bh-u-3 {
	float: left !important;
}
.bh-form-label-font div.bh_form_radio {
	padding-left: 2rem;
}
.bh-form-x {
	padding: 0;
	padding-top: .6em;
	margin: 0;
}
div.bh_form_radio label {
	margin-right: 1rem;
	color: #666;
}
.bh_center_lineh {
	margin: 1rem auto;
}
.bh_library_1 h4 {
	text-align: right;
	color: #666;
	font-weight: normal;
	padding-left: .4rem;
	padding-right: .4rem;
}
.bh_label li.bh_u_fif {
	width: 50%;
}
p.bh_form_unit {
	height: 100%;	
	margin: 0;
	padding: .5em 0;
	font-size: 1.4rem;
	color: #666;
}

/*----------- 委托结果 -----------*/
.bh_entrust_w {

}
.bh_entrust_tit {

}
.bh_entrust_tit h3 {
	font-size: 1.6rem;
	color: #666;
}
.bh_entrust_tit h3 span {
	font-size: 1.3rem;
	color: #999;
	margin-left: 1rem;
	font-weight: normal;
}
.bh_entrust_lst {
	margin-bottom: 0;
}
.bh_entrust_lst li {

}
.bh_entrust_lst li:last-child hr {
	margin-bottom: 0;
}
.bh_entrust_disc {
	position: relative;
}
.bh_entrust_disc .bh_entrust_img {
	padding: 0;
}
.bh_entrust_disc .bh_entrust_img img {
	width: 100%;
	/* max-width: 18rem; */
	max-height: 11rem;
}
.bh_entrust_disc .bh_entrust_msg {
	padding: 0 0 0 1rem;
	position: static;
}
.bh_entrust_f {
	font-size: 1.4rem;
	color: #666;
	font-weight: 700;
}
.bh_entrust_msg p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	line-height: 2.6rem;
}
.bh_entrust_msg p:nth-child(1) {
	color: #333;
	font-size: 1.5rem;
}
.bh_entrust_msg p:nth-child(2) {
	color: #c91111;
}
.bh_entrust_msg p:nth-child(3) {
	position: absolute;
	bottom: -.2rem;
	font-weight: normal;
}
.bh_entrust_msg p strong {
	font-weight: normal;
	color: #666;
	font-size: 1.4rem;
}
.bh_entrust_impl {
	font-weight: normal;
	margin-top: .8rem;
	max-height: 9.2rem;
	overflow: hidden;
	font-size: 1.5rem;
}
.bh_entrust_impl p {
	margin-bottom: 0;
}
.bh_entrust_impl strong {
	font-weight: normal;
	color: #333;
}

/*----------- 问答详情 -----------*/
.bh-ends-p {

}
.bh-ends-p p {
	margin: 0;
	color: #999999;
	padding: 0 .4rem;
	font-size: 1.4rem;
}
.bh-ends-p .bh-ends-pl {
	text-align: left;
}
.bh-ends-p .bh-ends-pr {
	text-align: right;
}
.bh-question-msg {

}
.bh-question-msg h3 {
	margin-bottom: 0;
	font-size: 1.6rem;
}
.bh-question-msg h3 i {
	color: #7bafe9;
	font-size: 1.6rem;
	margin-right: .4rem;
}
.bh-question-msg p {
	margin: 0;
	font-size: 1.4rem;
	text-indent: 2em;
	color: #999;
}
.bh-answer-msg {
	padding: 1rem;
	background: #ebf3fc;
}
.bh-answer-msg p {
	text-indent: 0;
}

/*----------- 我的订阅 -----------*/
.subscript_n {
	display: none;
}
.subscript {
	font-size: 1.4rem;
	color: #999;
	text-align: center;
}
.subscript h4 {
	font-weight: normal;
}
.subscript h4 a {
	font-size: 1.6rem;
	display: inline;
	padding: 0 .2rem;
}
.subscript-img {
	text-align: center;
}
.subscript-img img {
	width: 100%;
	min-width: 36rem;
	margin: 0 auto;
	position: relative;
	left: 50%;
	margin-left: -100%;
}
.sub_addlabel {
	text-align: right;
	padding-right: 1rem;
	margin-bottom: 1rem;
}
.sub_addlabel a {
	display: inline-block;
	width: 8rem;
	color: #1e63b0;
	border: 1px solid #1e63b0;
	text-align: center;
	margin-left: 1rem;
	line-height: 3rem;
}
.sub_addlst {
	padding: 0 1rem;
}

/*----------- 我的预约详情 -----------*/
.bh_border_config_lst {
	font-size: 1.4rem;
	padding: 0.4rem 1rem;
	border: 1px solid #ececec;
	margin-bottom: 2rem;
}
.bh_border_config_lst p {
	margin: 0.4rem 0;
	color: #666;
}
.bh_border_config_lst p strong {
	font-weight: normal;
}

/*----------- 阳光售房 -----------*/
.list-item {
	padding: 1rem 0;
	border-bottom: 1px solid #ededed;
}
.list-item [class*="am-u-"] {
	padding: 0;
}
.list-item img {
	float: left;
	height: 100%;
	max-height: 8.6rem;
	min-height: 8.6rem;
	margin: .3rem 0;
}
.list-item .list-desc {
	padding-left: .6rem;
}
.list-desc h4 {
	margin: 0;
	font-size: 1.4rem;
	position: relative;
	font-weight: normal;
}
.list-desc h4 a {
	color: #555;
}
.list-desc h4 p {
	padding-right: 8.4rem;
	ext-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.6rem;
}
.list-desc h4 span {
	margin-left: .6rem;
	font-size: 1.4rem;
	position: absolute;
	right: 0;
	bottom:0;
	line-height: 1.5;
}
.list-desc p {
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.2rem;
}
.list-desc>p {
	line-height: 1.7;
}
.list-ul {
	margin: 0;
	/* margin-top: .6rem; */
	font-size: 1.3rem;
	position: absolute;
	width: 100%;
	bottom: -24px;
	left: 0px;
}
.list-ul li {
	float: left;
	text-align: center;
}
.list-ul li:first-child {
	width: 28%;
}
.list-ul li:nth-child(2) {
	width: 28%;
}
.list-ul li:last-child {
	width: 44%;
}
.list-ul li a {
	color: #555;
}
.list-ul li a:hover, .list-ul li a:active {
	color: #555;
	text-decoration: underline;
}
.list-ul li i {
	margin-right: .2rem;
	font-size: 1.2rem;
	color: #bbbbbb;
}
.check {
	
}
.check a {
	text-align: center;
	background: #df3031;
	color: #fff;
	line-height: 4rem;
	height: 4rem;
	font-size: 1.5rem;
}
.check a:hover, .check a:active {
	color: #fff;
}
.check a:first-child {
	border-right: 1px solid #fff;
}
.check a i {
	margin-right: .6rem;
}

/*----------- 业务查询 -----------*/
.bh-pri-hd {
	font-size: 1.6rem;
	font-weight: normal;
	margin-bottom: 1rem;
	padding-left: .4rem;
	line-height: 1.4;
	color: #666;
}
.bh-pri-hd i {
	font-size: 1.4rem;
	margin-right: .4rem;
	line-height: 2.2rem;
	float: left;
	color: #7caee9;
}
.bh-pri-bd {
	margin: 0;
	font-size: 1.4rem;
}
.bh-pri-bd li {
	border-right: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}
.bh-pri-bd li:nth-child(2n) {
	border-right: none;
}
.bh-pri-bd li:nth-child(1), .bh-pri-bd li:nth-child(2) {
	border-top: 1px solid #f3f3f3;
}
.bh-pri-bd li a {
	padding: 1.6rem 0rem 1.6rem 1rem;
	color: #333333;
}

/*----------- 在线预约 -----------*/
.bh-tab-block {
	border: 1px solid #f3f3f3;
	padding: 1.4rem;
	margin-bottom: 1rem;
}
.bh-tab-block h3 {
	padding-top: 6rem;
	padding-bottom: .6rem;
	margin: 0;
	position: relative;
	text-align: center;
	font-size: 1.5rem;
	color: #999;
	border-bottom: 1px solid #f3f3f3;
	font-weight: normal;
}
.bh-tab-block h3 img {
	position: absolute;
	width: 4rem;
	left: 50%;
	margin-left: -2rem;
	top: .7rem;
}
.bh-tab-block a {
	text-align: center;
	padding-top: 1rem;
}

/*----------- 在线预约协议 -----------*/
.bh-tab-oblock {
	border: 1px solid #f3f3f3;
	padding: 1.4rem 1rem;
}
.bh-tab-oblock h3 {
	text-align: center;
	margin-bottom: 1rem;
	font-size: 1.6rem;
}
.bh-tab-oblock p {
	margin: .4rem 0;
	font-size: 1.4rem;
	color: #666;
	position: relative;
}
.bh-tab-oblock p i {
	position: absolute;
	font-style: normal;
}
.bh-tab-oblock p span {
	display: inline-block;
	padding-left: 2rem;
} 
.bh-tab-oblock>button {
	display: block;
	margin: 0 auto;
	padding-left: 3rem;
	padding-right: 3rem;
}
.bh-tab-oblock>a {
	width: 40%;
	margin: 0 auto;
	display: block;
}

/*----------- 在线预约-预约网点 -----------*/
.bh_highlight {
	margin-top: 1rem;
}
.bh_hl_hd {
	position: relative;
	border-bottom: 1px solid #ececec;
}
.bh_hl_hd h3 {
	margin: 0;
	margin-bottom: -1px;
	display: inline-block;
	color: #7caee9;
	border-bottom: 1px solid #7caee9;
	padding: 0 1rem;
	font-size: 1.5rem;
}
.bh_hl_hd span {
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 2.2rem;
	font-size: 1.1rem;
	max-width: 50%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.bh_label_or ul li {
	padding: .6rem;
}
.bh_label_or ul li a {
	padding: .4rem 0rem;
}
div.bh_highlight_btn {
	margin-top: 1rem;
}
.bh_highlight_btn>div {
	text-align: center;	
}
.bh_highlight_btn .bh_hl_after {
	padding-left: 3rem;
	padding-right: 0;
}
.bh_highlight_btn .bh_hl_before {
	padding-left: 0;
	padding-right: 3rem;
}
.bh_highlight_btn>div a {
	padding: .5em 2.6em;
	font-size: 1.4rem
}

/*----------- 在线预约-填写预约申请 -----------*/
.am-form-group.bh-form-gro {
	margin-bottom: 1rem;
}
.am-form-group.bh-form-gro-lst {
	margin-bottom: 0rem;
}
.bh-form-gro>label {
	padding-left: 0;
	padding-right: 0;
	text-align: right;
	color: #666666;
	font-weight: normal;
	font-size: 1.4rem;
}
.bh-form-gro>div, .bh-form-gro>div.form_input {
	padding: 0;
	padding-left: .6rem;
}
.bh_form_border {
	border: 1px solid #ccc;
	padding: 1rem 0;
}
p.bh-form-ta-tit {
	position: relative;
	text-align: right;
	padding: 0;
	color: #666;
	margin-bottom: 0;
}
.bh-form-ta-tit i {
	position: absolute;
	width: 200%;
	text-align: left;
	font-style: normal;
}
.bh_form_border_clrp {
	border: none;
	margin-top: 1rem;
	padding: 0;
}
.bh_form_border_clrp .am-selected-btn.am-btn-default {
	background: #fff;
}
.bh-form-select-w>div {
	width: 100%;
}
.bh-form-spical {
	margin-bottom: .4rem;
}
.bh-form-spical li {
	margin: .4rem 0;
	border: 1px solid #f3f3f3;
	background: #f2f7fd;
	padding: 1.0rem 3.0rem 1.0rem 0.0rem;
}
.bh-form-spical li>div.am-form-group label {
	padding-top: .4rem;
}
.bh-form-spical li>div.am-form-group div input {
	line-height: 1.0;
	padding: .4em .5em;
}
.bh-form-spical li>div.am-form-group div .am-btn {
	line-height: 1.0;
	padding: .4em 1em .4em .5em;
}
.am-form-spical-clr {
	margin: 0;
	text-align: right;
}
.am-form-spical-clr i {
	font-style: normal;
	cursor:pointer;
}

/*----------- 在线预约-完成预约 -----------*/
.bh-order-border {
	border: 1px solid #ff6a06;
	color: #ff6a06;
	padding: .6rem 1rem;
	font-size: 1.4rem;
}
.bh-order-result {
	border: 1px solid #ececec;
	padding: .6rem 1rem;
	color: #666666;
	margin-right: 3px;
	margin-bottom: 1.3rem;
	box-shadow: 3px 3px 0px rgba(0, 0, 0, .3);

}
.bh-order-result p {
	margin: 0;
	font-size: 1.4rem;
}

/*----------- 置业资讯 -----------*/
div.bh-msg-llf {
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
}
.bh-msg-llf img {
	width: 100%;
	height: 8.8rem;
}
div.bh-msg-lri {
	padding-right: 0;
	padding-left: .6rem;
}
.bh-msg-lri h4 {
	position: relative;
	margin: 0;
	color: #333333; 
	font-weight: 700;
	line-height: 1.4;
	font-size: 1.4rem;
}
.bh-msg-lri h4 .bh-msg-time {
	position: absolute;
	right: .6rem;
	bottom: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;
	color: #999999;
	padding-left: 1rem;
}
.bh-msg-lri p {
	margin: .6rem 0 0;
	line-height: 2rem;
	max-height: 4rem;
	overflow: hidden;
	color: #666666;
	font-size: 1.2rem;
}
.bh-msg-lri p a {
	display: inline-block;
}


/*
 * max-width = 480px
*/
@media screen and (min-width : 361px) {
	.tab_wr_more {
		height: 3.5rem;
	}

	.head_logo img {
		max-width: 160px;
		margin-top: -1.6rem;
	}
	a.dapp {
		max-width: 9.4rem;
		margin-top: -1.2rem;
		right: 3.4rem;
	}
	.tb_box > a.th_list {
		height: 7.6rem;
		line-height: 7.6rem;
	}
	.tb_box .th_ls {
		margin: 1.16rem 0;
	}
	.th_btn {
		margin-top: 1.86rem;
	}
	.list-item .list-desc {
		padding-left: .84rem;
	}
	.check a {
		height: 4rem;
		line-height: 4rem;
	}
	.bh_se_center a {
		padding: 3.6rem 0;
	}
	.bh-pri-bd li a {
		padding: 1.86rem 0rem 1.86rem 1.16rem;
	}
	.bh-pri-hd {
		margin-bottom: 1.16rem;
	}
	.bel_tab_b {
		line-height: 4.2rem;
	}
	.tab-check li span {
		height: 2.6rem;
	}
	.tab_tlt h3 {
		margin-bottom: .6rem;
	}
	.tab_cont li {
		margin: .4rem 0;
	}
	.bh_label li {
		line-height: 2.2;
	}
	.bh_home_list li {
		margin: 1rem 0;
	}
}
@media screen and (min-width : 481px) {

}



.list-more-span {
  display:block;
  width:100%;
  line-height:40px;
  text-align:center;
  cursor:pointer;
  color:#999999;
  font-size:1.4rem;
}


.search-span {
    position:absolute;
    z-index:10;
    left:92%;
    top:15px;
    width:20px;height:20px;
    background: url(../img/search_glass.png) no-repeat;
	background-size: 20px 20px;
    cursor:pointer;
}


