/*二维码样式开始*/
.clr{
    clear:both;
}

/*.am-table{
    border-color:#DDDDDD;margin:0px;padding:0px;
}*/
.out-table{border-collapse: collapse;border-color:#DDDDDD;margin:0px;padding:0px;}
.in-table{border-collapse: collapse;border-width:0; border-style:hidden;border-color:#DDDDDD;margin:0px;padding:0px;}
.table-title{
    color: #1F5797;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
}
.out-table tr td{clear:both; text-align: left;height:35px;line-height:35px; border-color:#DDDDDD;margin:0px;padding:0px;vertical-align:middle;text-indent:5px;}
.out-table tr td:first-child{font-weight: bold; text-align: right;width:25%;padding-right:5px;}
.in-table tr td{clear:both;text-align: left;height:35px;line-height:35px; border-color:#DDDDDD;margin:0px;padding:0px;vertical-align:middle;text-indent:5px;}
.in-table tr td:first-child{font-weight: bold; text-align: right;width:30%;padding-right:5px;}

.am-table tr td:first-child{
    /*color:#333;
    font-weight: bold;
    text-align: right;
    width:30%;padding-right:5px;*/
}
.am-table>tbody>tr>td, .am-table>tbody>tr>th, .am-table>tfoot>tr>td, .am-table>tfoot>tr>th, .am-table>thead>tr>td, .am-table>thead>tr>th{
     height:35px;line-height:35px; border-color:#DDDDDD;margin:0px;padding:0px;vertical-align:middle;text-indent:5px;
}
.tishi{
    color: #FF6400;
    font-weight: bold;
    margin: 0.5rem 0;
}
.content{margin-bottom:20px;}
.error{
     margin:0 auto;
}
.error .emptyInfo{
    font-size: 20px;
    color: #1165BB;
    text-align: center;
    margin-bottom:60px;
    letter-spacing: 5px;
}
.error img{
    width:60%;
    padding-top:100px;
    padding-bottom:60px;
    display:block;
    margin:0 auto;
}
.nav{
    width:100%;
    background: #1165BB;
    height:3rem;
    color:#FFFCFF;
    line-height: 3rem;
    font-size: 2rem;
    padding:0 1rem;

}
.title{
    color:#262626;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
}
.list-item{
    border: none;
}
.list-item .left-img{
    margin:0;
}
.list-item .child{
    text-indent: 2em;
    font-size:1.1rem;
    display: block;
    line-height: 1.55rem;
}
.list-desc{font-size:2rem;}
.underline{
    border-bottom: 1px solid #C2C2C2;
}
.info{
    color: #262626;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid #C2C2C2;
    padding-bottom:1rem;
    margin:1rem 0;
    padding-left:1rem;
}
.info-last{
    padding:0.6rem 0;
    padding-left:1rem;
    color: #262626;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1rem;
    margin:1rem 0;
}
.guide-cont{
    display: block;
    font-size:1.3rem;
    text-indent: 2em;
    padding: 1rem 0;
    line-height: 2rem;
}
.zhinan{
    line-height: 1rem;
}
.guide-info{
    border-bottom: 1px solid #C2C2C2;
}
.list li{
    float:left;
    width:50%;
}
.code{
    color:#262626;
}
.wiki{
    padding: 0.3rem;
}
.wiki img{
    width:100%;
}

/*二维码样式结束*/

/*买房三面积*/
/*.wp-bg{
    background: #444;
}*/
.house{
    padding: .6rem 0 0;
}
.house img{
    width:100%;
}

/*办事指南样式*/
.tab-check{
    margin-bottom: 0;
}
.lay ol.am-slideo{
    padding:0;
}
.dis{
    padding-top:5px;
}
